# ===== BACKEND =====
Backend/venv/
Backend/__pycache__/
Backend/instance/
Backend/*.log
Backend/*.tmp
Backend/*.py[cod]
Backend/*.egg-info/
Backend/dist/
Backend/build/

# Banco de dados local
*.sql

# ===== FRONTEND =====
frontend/node_modules/
frontend/dist/
frontend/build/

# ===== CONFIG / SISTEMA =====
.vscode/
.idea/
*.DS_Store
*.env
.env

# ===== GERAIS =====
__pycache__/
*.log
