# Regras do Backend (Python)
Backend/venv/
Backend/__pycache__/
Backend/app.db
Backend/instance/

# Regras do Frontend (geral)
frontend/node_modules/

# Arquivos de IDEs e de sistema operacional
.vscode/
.idea/
*.DS_Store